@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,700,900);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #121B24;
	color: #669999;
	font-family: 'Titillium Web', sans-serif;
}

header {
	text-align: center;
}

h1, h2, h3 {
	margin: 0 0 10px 0;
	padding: 0 20px;
}

h1 {
	font-size: 8rem;
	line-height: 8rem;
	font-weight: 900;
}

h2 {
	font-size: 4rem;
	line-height: 4rem;
	font-weight: 700;
}

h3 {
	font-weight: 200;
}

img {
	display: block;
	margin: 0 auto;
}

a {
	color: #336666;
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	color: #669999;
}

.content {
	min-height: 100%;
	padding: 0 0 40px;
	position: relative;
	box-sizing: border-box;
}

.suggestions-section {
	text-align: center;
}

.suggestions-list {
	list-style: none;
	padding: 0;
}

.suggestions-list li {
	margin-bottom: 5px;
}

.missing-link-feeback-section {
	margin: 20px auto;
	width: 350px;
}

.missing-link-feeback-section h3 {
	padding: 0;
}

textarea {
	display: block;
    width: 100%;
    padding: 6px;
    border: 1px solid #669999;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	height: 150px;
}

textarea:focus {
	outline: none;
}

.form-actions {
	text-align: right;
}

input[type=submit] {
	background-color: #336666;
    color: #ACC8C6;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
    background-color: #669999;
    color: #121B24;
}

.help-block {
	font-style: italic;
    font-weight: 400;
    font-size: 0.7rem;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}
