@model Dictionary<string, string>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thank you! | Octopurls</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    </head>
  <body>
    <header>
      <h2>Thank you!</h2>
      <h3>The <strong>Octopusaurus</strong> has sent your feedback to the <strong>Octopus</strong> team to investigate and fix this broken link.</h3>
    </header>
    <img src="/images/octopusaurus.jpg" alt="Octopusaurus" />
  </body>
</html>