@model Dictionary<string, string>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>404 Not Found | Octopurls</title>
  <link rel="icon"
        type="image/png"
        href="images/favicon.png">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header class="stripe-blue">
  <div class="logo"> <img src="images/octopus-logo.svg" alt="Octopus Deploy" style="height: 40px;" />
    <span class="logo-font">
						Octopus Deploy
					</span>
  </div>
</header>
<div class="content">
  <header>
    <img src="images/404-image.svg" alt="Page not found" style="width: 300px;"/>
    <h3>We can't seem to find <strong>@ViewBag.Url</strong>. The page may have been removed, or moved somewhere else.</h3>
  </header>
  @if(@Model.Any())
  {
  <div class="suggestions-section">
    <p>Did you mean...</p>
    <ul class="suggestions-list">
      @foreach(var suggestion in @Model)
      {
      <li><a href="@suggestion.Value">@suggestion.Key</a></li>
      }
    </ul>
  </div>
  }
  else
  {
  <div class="missing-link-feeback-section">
    <p class="help-block">We would be very grateful if you could let us know below where you found the link that brought you here so that we can investigate and correct the link in question</p>
    <form action="/feedback" method="post">
      <input type="hidden" name="url" id="url" value="@ViewBag.Url"/>
      <textarea id="message" name="message" placeholder="I encountered this missing link..."></textarea>
      <div class="form-actions">
        <input type="submit" value="Send"/>
      </div>
    </form>
  </div>
  }
  <footer>
    <p class="help-block">This missing link has been reported to the <a href="https://octopus.com">Octopus</a> team.</p>
  </footer>
</div>
</body>
</html>