@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa;
	color: #333333;
	font-family: 'Roboto', sans-serif;
}
.stripe-blue {
	background-color: #2f93e0;
	height: 64px;
	width: 100%;
}
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;

}
.logo img {
	margin-right: 5px;
	margin-left: 0;
}
.logo-font {
	font-size: 16pt;
	color: #fff;
	font-weight: 300;
}
header {
	text-align: center;
}

h1, h2, h3 {
	margin: 0 0 10px 0;
	padding: 0 20px;
}

h1 {
	font-size: 8rem;
	line-height: 8rem;
	font-weight: 900;
}

h2 {
	font-size: 4rem;
	line-height: 4rem;
	font-weight: 700;
}

h3 {
	font-weight: 200;
}

img {
	display: block;
	margin: 0 auto;
}

a {
	color: #2f93e0;
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	color: #0A67B1;
}

.content {
	min-height: 100%;
	padding: 0 40px 40px 40px;
	position: relative;
	box-sizing: border-box;
	width: 50%;
	margin: 0 auto;
}
.content header img {
	widtgh: 300px;
	margin: 2rem auto;
}
.suggestions-section {
	text-align: center;
}

.suggestions-list {
	list-style: none;
	padding: 0;
}

.suggestions-list li {
	margin-bottom: 5px;
}

.missing-link-feeback-section {
	margin: 20px auto;
	width: 350px;
}

.missing-link-feeback-section h3 {
	padding: 0;
}

textarea {
	display: block;
	width: 100%;
	padding: 6px;
	border: 1px solid #9e9e9e;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	height: 150px;
}

textarea:focus {
	outline: none;
}

.form-actions {
	text-align: right;
}

input[type=submit] {
	background-color: #48b350;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}

input[type=submit]:hover {
	background-color: #56B85D;
	color: #fff;
}

.help-block {
	font-style: italic;
	font-weight: 400;
	font-size: 0.7rem;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}

@media (max-width: 1024px ) {
	.content {
		width: 100%;
	}
}
